* {
  margin: auto;
  max-width: 1060px;
  margin: 0 auto;
}

h1 {
  font-size: 38px;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: aqua;
}

.tim {
  margin-top: 20px;
}

.scritta {
  color: grey;
  margin-top: 5px;
  font-size: 19px;
}

.ristretta {
  height: 70px;
  text-align: left;
  margin-top: 90px;
}

.cima-box {
  height: 170px;
  width: ;
  background-color: lightblue;
  background-image: url(../css/img/pattern.png);
}